In [1]:
import pymysql

from db_setup import SQL_SETUP

connection = pymysql.connect(host='localhost',
                             user='justin',
                             password='sonic',
                             db='play',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

# setup
cursor =  connection.cursor()
sql = SQL_SETUP
cursor.execute(sql)

0

In [2]:
sql = 'show tables;'
cursor.execute(sql)
cursor.fetchall()

[{'Tables_in_play': 'customers'},
 {'Tables_in_play': 'flights'},
 {'Tables_in_play': 'planes'},
 {'Tables_in_play': 'purchases'},
 {'Tables_in_play': 'shwang'}]

In [3]:
sql = 'drop table shwang;'
cursor.execute(sql)
sql = 'show tables;'
cursor.execute(sql)
cursor.fetchall()

[{'Tables_in_play': 'customers'},
 {'Tables_in_play': 'flights'},
 {'Tables_in_play': 'planes'},
 {'Tables_in_play': 'purchases'}]

In [4]:
sql = 'select * from flights;'
cursor.execute(sql)
cursor.fetchall()

()

In [5]:
from random import sample
flight_id = sample(list(range(1, 600)), k=100)
plane_id = sample(list(range(1, 200)), k=100)
for flight, plane in zip(flight_id, plane_id):
    sql = 'insert into flights (flight_id, plane_id) values ({}, {})'.format(flight, plane)
    cursor.execute(sql)

In [6]:
sql = 'select * from flights where plane_id < 100 limit 5;'
cursor.execute(sql)
cursor.fetchall()

[{'flight_id': 35, 'plane_id': 3},
 {'flight_id': 40, 'plane_id': 61},
 {'flight_id': 69, 'plane_id': 17},
 {'flight_id': 74, 'plane_id': 55},
 {'flight_id': 76, 'plane_id': 53}]

In [7]:
sql = 'update flights set plane_id = 0 where plane_id > 50;'
cursor.execute(sql)
sql = 'select * from flights where plane_id < 100 limit 5;'
cursor.execute(sql)
cursor.fetchall()

[{'flight_id': 1, 'plane_id': 0},
 {'flight_id': 8, 'plane_id': 0},
 {'flight_id': 9, 'plane_id': 0},
 {'flight_id': 11, 'plane_id': 0},
 {'flight_id': 35, 'plane_id': 3}]

In [8]:
sql = 'delete from flights where plane_id = 0;'
cursor.execute(sql)
sql = 'select * from flights where plane_id < 100 limit 5'
cursor.execute(sql)
cursor.fetchall()

[{'flight_id': 35, 'plane_id': 3},
 {'flight_id': 69, 'plane_id': 17},
 {'flight_id': 84, 'plane_id': 9},
 {'flight_id': 92, 'plane_id': 48},
 {'flight_id': 105, 'plane_id': 32}]

In [9]:
# create a customer table:

sql = 'drop table if exists customers;'
cursor.execute(sql)
sql = 'create table customers (\
       customer_id int auto_increment, \
       first_name varchar(30), \
       last_name varchar(30), \
       primary key (customer_id));'
cursor.execute(sql)

0

In [10]:
# update the purchase table to reference a customer table and add in missing values to new column

sql = 'alter table purchases add customer_id int, \
       add foreign key (customer_id) references customers(customer_id);'
cursor.execute(sql)

4

In [11]:
# first tell mysql to not check forighn key constraints temporarily:
sql = 'SET foreign_key_checks = 0;\
       update purchases set customer_id = 32 where customer_id is null;\
       SET foreign_key_checks = 1;'

cursor.execute(sql)
sql = 'select * from purchases;'
cursor.execute(sql)
cursor.fetchall()

[{'customer_id': 32, 'flight_id': 111, 'purchase_id': 1, 'seat_no': 1},
 {'customer_id': 32, 'flight_id': 87, 'purchase_id': 2, 'seat_no': 1},
 {'customer_id': 32, 'flight_id': 87, 'purchase_id': 3, 'seat_no': 7},
 {'customer_id': 32, 'flight_id': 100, 'purchase_id': 4, 'seat_no': 5}]

In [13]:
# populate the customers table:
from random import choice, choices, randint

def get_vowel():
    return choices(['a', 'e', 'i', 'o', 'u', 'y'], weights=[10, 5, 7, 4, 5, 1], k=1)[0]
def get_consonant():
    return choice(list(set([chr(i) for i in range(ord('a'), ord('z') + 1)]) - set(['a', 'e', 'i', 'o', 'u'])))
def get_name(n_len):
    name = []
    for i in range(randint(*n_len)):
        name.append(get_consonant())
        name.append(get_vowel())
    if choice([True, False]):
        name.append(get_consonant())
    return ''.join(name)

for i in range(200):
    first_name = get_name([1, 3])
    last_name = get_name([3, 5])
    sql = f'insert into customers (first_name, last_name) values ("{first_name}", "{last_name}");'
    cursor.execute(sql)
sql = 'select * from customers limit 5;'
cursor.execute(sql)
cursor.fetchall()

[{'customer_id': 1, 'first_name': 'zazi', 'last_name': 'badutunaraj'},
 {'customer_id': 2, 'first_name': 'miqahib', 'last_name': 'gotyrahen'},
 {'customer_id': 3, 'first_name': 'ho', 'last_name': 'havyji'},
 {'customer_id': 4, 'first_name': 'hiliw', 'last_name': 'wunajo'},
 {'customer_id': 5, 'first_name': 'xemapir', 'last_name': 'cayivipo'}]

In [35]:
sql = 'select * from customers where first_name like "%ki%";'
cursor.execute(sql)
cursor.fetchall()

[{'customer_id': 290, 'first_name': 'qiki', 'last_name': 'femahal'},
 {'customer_id': 174, 'first_name': 'kiryqap', 'last_name': 'hozicicag'},
 {'customer_id': 217, 'first_name': 'ki', 'last_name': 'kayahyze'},
 {'customer_id': 43, 'first_name': 'kinutat', 'last_name': 'kohikoyacam'},
 {'customer_id': 321, 'first_name': 'kivoxuj', 'last_name': 'vijezeweviq'}]

In [37]:
sql = 'select * from customers order by last_name limit 5;'
cursor.execute(sql)
cursor.fetchall()

[{'customer_id': 1, 'first_name': 'zazi', 'last_name': 'badutunaraj'},
 {'customer_id': 356, 'first_name': 'heni', 'last_name': 'bakefejinat'},
 {'customer_id': 44, 'first_name': 'xeniw', 'last_name': 'bakuzu'},
 {'customer_id': 156, 'first_name': 'si', 'last_name': 'balamihyt'},
 {'customer_id': 257, 'first_name': 'ralaxap', 'last_name': 'baxujimixiz'}]

[{'customer_id': 151, 'flight_id': 111, 'purchase_id': 1, 'seat_no': 1},
 {'customer_id': 151, 'flight_id': 87, 'purchase_id': 2, 'seat_no': 1},
 {'customer_id': 151, 'flight_id': 87, 'purchase_id': 3, 'seat_no': 7},
 {'customer_id': 151, 'flight_id': 100, 'purchase_id': 4, 'seat_no': 5}]

In [44]:
sql = 'select last_name, flight_id, seat_no from customers as cu join purchases as pu on cu.customer_id = pu.customer_id;'
cursor.execute(sql)
cursor.fetchall()

[{'flight_id': 111, 'last_name': 'nihihazu', 'seat_no': 1},
 {'flight_id': 87, 'last_name': 'nihihazu', 'seat_no': 1},
 {'flight_id': 87, 'last_name': 'nihihazu', 'seat_no': 7},
 {'flight_id': 100, 'last_name': 'nihihazu', 'seat_no': 5}]

In [46]:
sql = 'select * from planes;'
cursor.execute(sql)
cursor.fetchall()

[{'number_of_seats': 7, 'plane_id': 23},
 {'number_of_seats': 5, 'plane_id': 128},
 {'number_of_seats': 4, 'plane_id': 157},
 {'number_of_seats': 2, 'plane_id': 239}]