In [7]:
import pandas as pd
import numpy as np

# load in csv_file and set the datetime index
df = pd.read_csv(r'diepandadie/my_data/us_pollution.csv', index_col='Date Local', parse_dates=True)
df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,NO2 Units,NO2 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
Date Local,,,,,,,,,,,,,,,,,,,,,
2000-01-01,0,4,13,3002,1645 E R...,Arizona,Maricopa,Phoenix,Parts pe...,19.041667,...,Parts pe...,3.000000,9.0,21,13.0,Parts pe...,1.145833,4.2,21,NaN
2000-01-01,1,4,13,3002,1645 E R...,Arizona,Maricopa,Phoenix,Parts pe...,19.041667,...,Parts pe...,3.000000,9.0,21,13.0,Parts pe...,0.878947,2.2,23,25.0
2000-01-01,2,4,13,3002,1645 E R...,Arizona,Maricopa,Phoenix,Parts pe...,19.041667,...,Parts pe...,2.975000,6.6,23,NaN,Parts pe...,1.145833,4.2,21,NaN
2000-01-01,3,4,13,3002,1645 E R...,Arizona,Maricopa,Phoenix,Parts pe...,19.041667,...,Parts pe...,2.975000,6.6,23,NaN,Parts pe...,0.878947,2.2,23,25.0
2000-01-02,4,4,13,3002,1645 E R...,Arizona,Maricopa,Phoenix,Parts pe...,22.958333,...,Parts pe...,1.958333,3.0,22,4.0,Parts pe...,0.850000,1.6,23,NaN

In [23]:
# slice datetime index
print(df.loc['February 5, 2010'].shape[0])
print(df.loc['2011-5'].shape[0])
print(df.loc['2004-May-26'].shape[0])
print(df.loc['2000-5-26':'2000-5-28'].shape[0])

252
11790
266
908

In [32]:
df['State'].value_counts().head()

California      576142
Pennsylvania    188892
Texas           123208
New York         70487
Arizona          69840
Name: State, dtype: int64